<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- 欢迎页面Activity -->
        <activity
            android:name="ai.guiji.duix.sdk.welcome.WelcomeActivity"
            android:theme="@style/Theme.Duix.Welcome"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:hardwareAccelerated="true" />
    </application>

</manifest>